@import '~antd/dist/antd.css';

.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Custom CSS */

.ant-input-search-container {
  margin-top: 2.5rem;
}

.ant-switch-inner {
  width: 4rem;
}

.ant-switch::after {
  width: 3.2rem;
}

.ant-input-search.ant-input-affix-wrapper {
  width: 95%;
}

.ant-input-search.ant-input-affix-wrapper input {
  border-radius: 1.125rem;
  height: 4rem;
}

.ant-input-search.ant-input-affix-wrapper input[type="text"] {
  font-size: 1.5rem;
}

.anticon.anticon-search.ant-input-search-icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.ant-switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.ant-switch-container h3 {
  margin: 0.125rem 0;
  padding: 0 1rem;
  font-weight: 700;
  letter-spacing: 0.02rem;
  color: #c6bebe;
}

.ant-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 0;
}

.ant-card.ant-card-bordered {
  width: 300px; 
  margin-top: 1.5rem;
  border: 1px solid #c6bebe;
}

.ant-card-meta-description {
  padding-bottom: 0.8rem;
  color: rgb(65, 60, 60);
  font-weight: 500;
}

.ant-card-body {
  padding-right: 12px;
  padding-bottom: 0;
}

.ant-dropdown-menu {
  margin-top: 1rem;
  width: 20rem;
  border-radius: 2rem;
}

h4 {
  font-weight: 400;
}

button {
  display: 'block'
}
